/*
 預設樣式是"display:none"
 但在大尺寸時是"block"
 然後按鈕按下時另外給予一個class是"display:block"
 */
:root {
  --aside-width: 14rem;
}

/* common */

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* footer */

.footer {
  height: var(--footer-height);
}

/* context */

.context {
  /* padding-left: 10rem; */
  overflow: auto;
}

/* sidebar */

.sidebar {  
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
}

#sidebar-menu {
  width: var(--aside-width);
  padding: 0 1rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  #sidebar-menu {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  #sidebar-menu {
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
  }

  #sidebar-menu.is-active {
    display: block;
  }
}
