:root {
  --default-padding-top: 56px;
  --footer-height: 168px;
  --context-min-height: calc(
    98vh - var(--default-padding-top) - var(--footer-height)
  );
}

/* common */

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* header */

.padding-header {
  padding-top: var(--default-padding-top);
}

/* footer */

.footer {
  height: var(--footer-height);
}

/* context */

.context {
  width: 100%;
  min-height: var(--context-min-height);
  overflow: auto;
  margin: 0;
}

/* sidebar */

.sidebar-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .sidebar-menu {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar-menu {
    max-height: calc(100vh - 3.25rem);
    overflow: auto;

    background-color: #fff;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    padding: 3rem 1.5rem;
  }

  .sidebar-menu.is-active {
    display: block;
  }
}
