/*
 預設樣式是"display:none"
 但在大尺寸時是"block"
 然後按鈕按下時另外給予一個class是"display:block"
 */
:root {
  --aside-width: 14rem;
  --aside-padding: 2rem;
  --burger-width: 5.25rem;
  --brand-width: calc(112px+1.5rem);
}

/* common */

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* navbar */
.navbar-menu {
  display: block;
}

/* footer */

.footer {
  height: var(--footer-height);
}

/* context */

.context-wrapper {
  transition: padding-left 250ms ease-in-out 50ms;
}

.context {
  /* padding-left: 1rem;
  padding-right: 1rem; */
  overflow: auto;
}

.context > * {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* sidebar */

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 9999;
  /* box-shadow: 0 8px 16px rgb(10 10 10 / 10%); */
  /* border-right: 1px solid darkgray; */
}

#logo {
  display: none;
  background-color: inherit;
}

#logo:hover,
#logo:focus {
  background-color: rgb(245, 245, 245);
}

#sidebar-menu {
  transition: width 250ms ease-in-out 50ms, opacity 250ms ease-in-out 50ms;
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  #sidebar-menu {
    width: var(--aside-width);
    padding: 1rem;
    opacity: 1;
  }

  .context-wrapper {
    padding-left: calc(var(--aside-width) + var(--aside-padding));
  }

  #logo {
    display: flex;
  }
}

@media screen and (max-width: 1023px) {
  #sidebar-menu {
    overflow: auto;
    background-color: #fff;
    width: 0;
    opacity: 0;
  }

  #sidebar-menu.is-active {
    width: var(--aside-width);
    padding: 1rem;
    opacity: 1;
  }

  .context-wrapper {
    padding-left: var(--burger-width);
  }

  .context-wrapper.is-active {
    padding-left: calc(var(--aside-width) + var(--aside-padding));
  }

  #logo {
    display: none;
  }
  #logo.is-active {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .level-left + .level-right {
    /* margin-top: 1.5rem; */
    margin-top: 0;
  }
}
