/*
 預設樣式是"display:none"
 但在大尺寸時是"block"
 然後按鈕按下時另外給予一個class是"display:block"
 */
:root {
  --aside-width: 14rem;
}

/* common */

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* footer */

.footer {
  height: var(--footer-height);
}

/* context */

.context-wrapper {
}

.context {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto;
}

/* sidebar */

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
} */

/* #sidebar-menu {
  width: var(--aside-width);
  padding: 0 1rem;
  display: none;
} */

.sidebar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--aside-width);
  padding-left: 1rem;
  padding-right: 1rem;
}

#sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--aside-width);
  /* padding: 0 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  #sidebar-menu {
    display: block;
  }

  .context-wrapper {
    padding-left: var(--aside-width);
  }
}

@media screen and (max-width: 1023px) {
  #sidebar-menu {
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
  }

  #sidebar-menu.is-active {
    display: block;
  }

  #sidebar-menu.is-active + .context-wrapper {
    padding-left: var(--aside-width);
  }
}
