* {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*
    common
*/

.transition {
  transition: width 200ms linear 50ms,
    opacity 150ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 50ms,
    padding-left 300ms linear 50ms, padding-right 300ms linear 50ms;
}

.is-rounded {
  border-radius: 9999;
}

/*
    video
*/

.video-wrapper {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  position: absolute;
  /* width: 100%;
  max-height: 100%; */
  width: 100%;
  height: auto;
  touch-action: none;
  cursor: inherit;
  z-index: 0;
}

.drag-wrapper {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}

.drag-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.drag-control > .button {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: transparent;
  border-radius: 9999px;
  border-color: transparent;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 100ms;
  /* padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em); */
}

.drag-control > .button:hover {
  background-color: rgba(128, 128, 128, 0.8);
  color: whitesmoke;
  transition: opacity 100ms;
}

.draggable:hover > .drag-control > .button {
  opacity: 1;
  transition: opacity 100ms;
}

.drag-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 100ms;
}

.draggable:hover > .drag-cover {
  opacity: 0.5;
  transition: opacity 100ms;
}

.draggable {
  position: absolute;
  left: 60px;
  top: calc(100% - 300px);
  width: 320px;
  height: 180px;
}

.draggable.is-active {
  cursor: move;
}

.draggable::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 100ms;
}

.draggable:hover::after {
  opacity: 0.5;
  transition: opacity 100ms;
}

/* Controls */

.status-info {
  position: absolute;
  top: 0;
  left: 0;
}

.time-info {
  position: absolute;
  top: 0;
  right: 0;
}

.is-rounded {
  border-radius: 9999;
}

.controls {
  background-color: transparent;
  position: absolute;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-group {
  display: flex;
  flex-direction: column;
}

.control-group .button {
  margin-top: 0.5rem;
}
.control-group .button:first-child {
  margin-top: 0;
}

.modal-group {
}

.button.is-control {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 9999px;
  border-color: transparent;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em); */
}

.button.is-control:hover {
  background-color: rgba(128, 128, 128, 0.8);
  color: whitesmoke;
}
